/**********************************************************/
/*notes*/
/**********************************************************/

/*
animation: name duration timing delay iterations direction fill-mode play-state
defaults: none 0 ease 0 1 normal none running
*/

/**********************************************************/
/*globals*/
/**********************************************************/
/*::-webkit-scrollbar {
    display: none;
}*/

* {
    box-sizing: border-box;
}

html, body {
    width: 100vh;
    height: 100vh;
}

/**********************************************************/
/*background image*/
/**********************************************************/

.bg {
/*  position: fixed; 
  top: 0; 
  left: 0; 

  min-width: 180%;
  min-height: 180%;

   top: -40%;
   left: -40%;
    right: -40%;
    bottom: -40%;
    z-index: -1;
    filter: blur(3px);*/

    position: fixed; 
    /*bottom: -5%; 
    left: -5%; 
    top: auto;
    right: auto;*/
    /*right: auto;*/
    background: url(images/bg.jpg) no-repeat;
    background-size: cover;
    /*min-width: 110vw;
    min-height: 110vh;*/

    width: 100%;
    height: 100%;
    bottom: 50%;
    transform: translate(0%, 50%);

    /*top: 0;*/
    /*width: 110%;*/
    /*height: 110%;*/
  /* Preserve aspect ratio */

   /*top: -5%;
   left: -5%;
    right: -5%;
    bottom: -5%;*/
    z-index: -1;
    filter: blur(3px);
}

.bgImage {
/*.bgImage::before {*/
    content: "";
    position: fixed;
    top: -5%;
    left: -5%;
    right: -5%;
    bottom: -5%;
    z-index: -1;
    display: block;
    background-color: #6c6d6d;
    background: url(images/bg.jpg) no-repeat center center;
    background-size:cover;
    filter: blur(3px);

    transform: translate3d(0,0,0);
}

/*.bgImage {
    overflow: auto;
    position: relative;
}*/

/**********************************************************/
/*title screen*/
/**********************************************************/
.titleScreen {
    width: 100%;
    height: 100%;
}

.title {
    position: absolute; 

    text-align: center;
    bottom: 50%;
    transform: translate(0%, 50%);

    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 75px;
    font-weight: 100;
    color: white;
    opacity: 0;

    width:100%;
}

.bow {
    position: absolute; 
    text-align: center;
    right: 50%;
    transform: translate(50%, 0%);
    color: white;
    opacity: 0;
    width: 60px;

    bottom: 10%;
}

.arrow {
    position: absolute; 
    text-align: center;
    right: 50%;
    transform: translate(50%, 0%);
    color: white;
    opacity: 0;
    width: 60px;

    bottom: 10%;
}

.fadeInTitle { 
    /*set delay to 0s here, will be handled in js*/
    animation: fadeIn 3s ease 0s 1 forwards;
}

.fadeInArrow { 
    /*set delay to 0s here, will be handled in js*/
    animation: fadeIn 2s ease 0s 1 forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/**********************************************************/
/*projects*/
/**********************************************************/
.projects {
    position: relative;
    margin-top: 10%;
    width: 70%;
    margin-left: 15%;
}

.projectsTitle {
    text-align: center;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 40px;
    font-weight: 300;
    color: white;
}

.projectsGrid {
    margin-top: 30px;
    width: 100%;
}

.projectsGrid::after {
    content: "";
    clear: both;
    display: table;
}

.projectImgContainer {
    float: left;
    width: 33.333333%;
    padding: 15px;
    /*margin-bottom: 100px;*/
}

.projectImg {
    width:100%;
    background-color: #efefef38
}

/**********************************************************/
/*contact*/
/**********************************************************/

.contact {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 10%;
}

.contactInfo {
    position: absolute; 
    text-align: center;
    bottom: 50%;
    transform: translate(0%, 50%);
    width:100%;
}

.contactTitle {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 40px;
    font-weight: 300;
    color: white;
}

.contactEmail {
    margin-top: 15px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 30px;
    font-weight: 100;
    color: white;
}

.arrow2 {
    position: absolute; 
    text-align: center;
    right: 50%;
    transform: translate(50%, 0%);
    color: white;
    width: 60px;

    top: 10%;
}

.arrows {
    position: absolute; 
    text-align: center;
    right: 50%;
    transform: translate(50%, 0%);
    color: white;
    width: 60px;

    bottom: 10%;
}